body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
background:#111;
padding:15px;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:url('1.jpeg') center/cover;
}

.managed{
font-size:14px;
opacity:0.7;
margin-top:-10px;
margin-bottom:10px;
}

.btn{
padding:10px 20px;
margin:10px;
border:none;
border-radius:20px;
color:white;
background:#2563eb;
cursor:pointer;
text-decoration:none;
}

.call{background:green;}
.whatsapp{background:#25D366;}

.section{
padding:40px 20px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:300px;
margin:auto;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:10px;
}

.gallery img{
width:100%;
height:200px;
object-fit:cover;
border-radius:8px;
}

.review-wrapper{
display:flex;
justify-content:center;
}

.review-box{
background:#1e293b;
padding:25px;
border-radius:10px;
max-width:500px;
min-height:80px;
display:flex;
align-items:center;
justify-content:center;
}

.faq-item{
margin:10px auto;
max-width:500px;
cursor:pointer;
background:#1e293b;
padding:10px;
border-radius:5px;
text-align:left;
}

.faq-item p{
display:none;
margin-top:5px;
}

.faq-item.active p{
display:block;
}

.facilities-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
margin-top:20px;
}

.facility{
background:#1e293b;
padding:15px;
border-radius:10px;
}

.location-box{
background:#1e293b;
padding:20px;
border-radius:10px;
max-width:500px;
margin:20px auto;
}

iframe{
width:100%;
height:300px;
border:0;
margin-top:20px;
}

#popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:none;
justify-content:center;
align-items:center;
}

.popup-box{
background:white;
color:black;
padding:20px;
border-radius:10px;
text-align:center;
}
.nav-title{
display:flex;
flex-direction:column;
}

.nav-title span{
font-size:12px;
opacity:0.7;
}